snippet met "public method"
	public function ${1}(${2}): $3
	{
		${0}
	}

snippet promet "protected method"
	protected function ${1}(${2}): $3
	{
		${0}
	}

snippet primet "private method"
	protected function ${1}(${2}): $3
	{
		${0}
	}

snippet cls "class"
	namespace ${1};

	class ${2}
	{
		${0}
	}
